<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Latest Downloads</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link type="text/css" href="/admin/css/main.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/admin/css/all.min.css"/>
   </head>
   <body>
      <%- include("_sidebar.ejs"); %>
      <main class="content">
         <%- include("_header.ejs"); %>
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div>
              <div class="d-flex justify-content-between w-100 flex-wrap">
                 <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Latest Downloads</h1>
                 </div>
              </div>
            </div>
            <div>
                <a href="/delete_latest" class="btn btn-primary mt-1 me-1">Delete All</a>
            </div>
         </div>
         <div class="card">
            <div class="table-responsive py-4">
               <table class="table table-flush" id="datatable">
                  <thead class="thead-light">
                     <tr>
                        <th>Source</th>
                        <th>Thumbnail</th>
                        <th>Url</th>
                        <th>Download Date</th>
                     </tr>
                  </thead>
                  <tbody>
                    <% down_vids.forEach(vid => { %>
                      <tr>
                          <td class="ver-middle"><span class="fw-normal"><%= vid.source %></span></td>
                          <td class="ver-middle">
                              <a href="#" class="d-flex align-items-center">
                                <img src="<%= vid.thumbnail %>" class="thumbnail rounded-circle-thumb me-3" alt="thumbnail">
                              </a>
                          </td>
                          <td class="ver-middle">
                            <p class="text-xs font-weight-bold mb-0"></p>
                              <div class="form-group">
                                <a href="<%= vid.web_url %>" target="_blank" class="input-group">
                                  <input type="text" value="<%= vid.web_url %>" class="form-control cursor-pointer" readonly="">
                                  <span class="input-group-text"><i class="fas fa-external-link-alt"></i></span>
                                </a>
                              </div>
                          </td>
                          <td class="ver-middle">
                              <span class="fw-normal d-flex align-items-center">
                                 <%= vid.dw_date %>
                              </span>
                          </td>
                      </tr>
                      <% }); %>
                  </tbody>
               </table>
            </div>
         </div>
      </main>
      <!-- Core Libs -->
      <script src="/admin/js/simple-datatables.min.js"></script>
      <script src="/admin/js/bootstrap.min.js"></script>
      <script src="/admin/js/sidebar.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

      <script type="text/javascript">
      var dataTableEl = document.getElementById('datatable');
      if (dataTableEl) {
          const dataTable = new simpleDatatables.DataTable(dataTableEl);
      }
      </script>

   </body>
</html>
